{% import "_includes/forms" as forms %}

{{ forms.autosuggestField({
    first: true,
    label: "URL base",
    id: 'url-base',
    name: 'urlBase',
    value: settings.urlBase,
    suggestEnvVars: true
}) }}

{{ forms.autosuggestField({
    label: "Version URL parameter",
    id: 'version-parameter',
    name: 'versionParameter',
    value: settings.versionParameter,
    suggestEnvVars: true
}) }}

{{ forms.autosuggestField({
    label: "Draft URL parameter",
    id: 'draft-parameter',
    name: 'draftParameter',
    value: settings.draftParameter,
    suggestEnvVars: true
}) }}